<div class="container">
  <form class="change-password" [formGroup]="formGroupChangePassword">
    <div>
      <mat-form-field class="outline" color="primary">
        <mat-label>Contraseña anterior</mat-label>
        <input matInput type="text" formControlName="oldPassword" class="input-change">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="outline">
        <mat-label>Nueva contarseña</mat-label>
        <input matInput type="text" formControlName="newPassword" class="input-change">
      </mat-form-field>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="guardar()">
        Guardar
      </button>
    </div>
  </form>
</div>
