.container-app-event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
}
/* .example-stretched-tabs {
  max-width: 1200px;
} */
.title-event {
  max-width: 900px;
}

.tab-group {
  width: 1200px;
  height: 900px;
}
.tab-registro {
  width: 800px;
}

/* .container-mat-tab-group {
  padding: 20px;
} */

.form-registro {
  padding: 20px;
  & form {
    display: flex;
    justify-content: space-around;
  }
}

.button-limpiar {
  color: white;
}
.button-limpiar {
  color: white;
  background-color: lightseagreen;
}
/*
Para agregar color al header del TAB
se agregó el archivo style.css
mat-tab-header
*/

/* Tab 2*/
.full-width {
  width: 100%;
}
.content-list-concert {
  padding: 20px;
}
