:root {
  --primary-color: #ffa000;
  --secondary-color: #292d39;
  --accent-color: #e91e63;

  --color-primary: #f5f5f5;
  --color-secondary: #333;
  --color-tertiary: #f4f4f4;
  --color-quaternary: #666;
  --color-quinary: #888;
  --color-senary: #aaa;
  --color-septenary: #ccc;
  --color-octonary: #ddd;
  --color-nonary: #eee;
  --color-decenary: #f9f9f9;
  --color-elevenary: #fafafa;
  --color-twelveary: #fbfbfb;
  --color-thirteenary: #fcfcfc;
  --color-fourteenary: #fdfdfd;
  --color-fifteenary: #fefefe;
  --color-sixteenary: #fff;
  --color-seventeenary: #000;
  --color-eighteenary: #111;
  --color-nineteenary: #222;
  --color-twentyary: #444;
  --color-twentyoneary: #555;
  --color-twentytwoary: #777;
  --color-twentythreeary: #999;
  --color-twentyfourary: #bbb;
  --color-twentyfiveary: #ccc;
  --color-twentysixary: #ddd;
  --color-twentysevenary: #eee;
  --color-twentyeightary: #f9f9f9;
  --color-twentynineary: #fafafa;
  --color-thirtyary: #fbfbfb;
  --color-thirtyoneary: #fcfcfc;
  --color-thirtytwoary: #fdfdfd;
  --color-thirtythreeary: #fefefe;
  --color-thirtyfourary: #fff;
  --color-thirtyfiveary: #000;
  --color-thirtysixary: #111;
  --color-thirtysevenary: #222;
  --color-thirtyeightary: #444;
  --color-thirtynineary: #555;
  --color-fortyary: #777;
  --color-fortyoneary: #999;
  --color-fortytwoary: #bbb;
  --color-fortythreeary: #ccc;
}
